h1{
    text-align: center;
    color : white;
    font-style: bold;
    font-size: 30px;
}
body
{
    width : 100%;
    height: auto;
  background-position: center;
  background-size: 300px 100px;
  background-size: cover;
  background-image: url(https://image.shutterstock.com/image-vector/vector-cartoon-background-game-quest-260nw-1272539170.jpg);
}

form,div{
    color: whitesmoke;
    text-align : center;
    font-size: large;
}
p{
    font-size : 40px;
    text-align: center;
    font-size: larger;
    color: white;
}
 #button{
     padding: 2px;
     border-radius: 2px;
     box-sizing: border-box;
     color: purple;
     background-color: aqua;
     flex-basis: 0px;
     width: 12%;
  border: 3px solid red;
  float: center;
 }
 label{
    text-align: center;
   padding: 12px;
   border-radius: 20xp;
   box-sizing: border-box;
   color: white;
      flex-basis: 100%;
 }
 .container img{
     position: absolute;
     top:40px;
     right:50px;
     
 }
 
 img{
     width:10%;
     height:auto;
     opacity:0.8;
    
 }

 <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>